extends layout.pug 

block content 
    form(id='name-collection' method='post' action='/hello')
        label Please enter your name:
            input(type='text' name='username' id='name')
        button(type='submit') Submit