extends app

block intro 
    form(class='namecard-form' method='post' action='/hello')
        label.namecard-prompt Please enter your name:
        input(class='namecard-name' type='text' name='username')
        button(class='namecard-submit' type='submit') Submit