doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!

    p To create the On the Farm lorem ipsum generator I took a long list of common farm animals and crops and used our list randomizer to continually mix them up. I then used javascript to place them into paragraph form with punctuation included to make the dummy text look like true sentences.

    h2 What can you find on a farm, you ask?

    ul.animals
      li.animal Cows
      li.animal Chickens
      li.animal Ducks
      li.animal Pigs