doctype html
html(lang="en")
  head
    title Flash Cards
  body
    include includes/header.pug

    if name
      h2 Welcome, #{name}!

    block content

    if name
      form(method='post' action='/goodbye')
        button(type='submit') Goodbye

    include includes/footer.pug